@{
    ViewData["Title"] = "Blog";
}

 <div class="page">
        <div class="header">
            <div class="content">
                <div class="left">
                    <h1>Bülten Lirian</h1>
                </div>
                <div class="right">
                    <div class="logIn">
                        <p>Giriş Yap</p>
                    </div>
                    <div class="signIn">
                        <p>Kayıt Ol</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="navigation">
                <div class="content">
                </div>
            </div>
            <div class="contentOutput">
                <div class="cnt">
                    <div class="blog-1 blog" id="1">
                        <h2>Lorem, ipsum.</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sequi odit nulla
                            molestiae, ratione harum maxime eveniet expedita iusto nemo doloremque optio similique, est
                            autem quasi itaque eos sit magnam labore numquam dolore neque, a vero natus! Corrupti at
                            dolorem tenetur aliquid repellat dolorum illo accusantium, sit quaerat a ducimus cumque
                            alias, cupiditate impedit eius, nesciunt error iure quod vitae necessitatibus temporibus.
                            Eveniet tenetur quos, tempora excepturi voluptatem nesciunt error molestias quisquam esse
                            illum sint ratione reprehenderit nam at. Non eum aperiam vitae ut distinctio exercitationem
                            temporibus tempora repellendus id minima quod eveniet repudiandae expedita, vel esse quae
                            sequi dolor cum saepe in numquam. Aut nobis architecto odit necessitatibus voluptate
                            eveniet, voluptatibus tenetur, porro eos id ipsa quaerat alias? Sint nobis cum soluta,
                            minima adipisci ad saepe sunt dolores blanditiis, quos, in tempora! Quaerat accusamus id,
                            quibusdam omnis unde ut quos, ea qui amet ipsum quo. Sit ex, quos corrupti ratione iste nam
                            at possimus, repudiandae sed iusto temporibus! Suscipit totam distinctio, voluptatum
                            repellendus aperiam minima neque accusamus cumque quis soluta inventore quod nobis culpa
                            amet rerum temporibus praesentium esse ex quasi provident atque iusto. Perspiciatis itaque,
                            doloremque incidunt accusantium natus molestias repellendus minima ipsum obcaecati modi
                            excepturi laboriosam facere.
                        </p>
                    </div>
                    <div class="blog-2 blog" id="2">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsam rerum distinctio
                            odio. Fuga eveniet nisi assumenda consequatur iure ipsam modi dolor aliquid dolorum
                            praesentium quam rem vel, architecto maiores provident voluptas reprehenderit laudantium hic
                            consectetur tempora doloremque. Accusantium perspiciatis aspernatur consequuntur illo
                            voluptas tempore nisi ea nam consectetur, enim officia iusto doloremque, placeat autem nulla
                            reiciendis illum sint, sunt minima fuga commodi explicabo a porro! Magnam enim soluta at
                            voluptatem, atque, facere optio illo molestias delectus dolore hic, non totam rerum mollitia
                            incidunt! Impedit facere, fugit, culpa iste autem praesentium cum nobis ipsam mollitia
                            ratione, laboriosam porro fugiat numquam.
                        </p>
                    </div>
                    <div class="blog-3 blog" id="3">
                        <h2>Lorem.</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum deleniti ab nisi excepturi
                            est rem optio debitis officiis molestias, at totam ullam fugit commodi nesciunt quam
                            eligendi reprehenderit quaerat animi impedit modi assumenda accusantium eaque laudantium
                            unde! Possimus tempore maiores odio amet nisi nesciunt labore, est libero? Placeat aperiam
                            cum tempore! Beatae sint ipsam soluta incidunt non? Sequi ut deleniti natus officia dolorum
                            inventore. Laborum sint eos vitae corporis iusto aperiam tempore cum reiciendis quibusdam
                            similique! Nobis odit ab praesentium. At magnam sequi sit nihil nam, voluptates perspiciatis
                            dolor facere repellat, nulla tempore, ea repudiandae maiores! Consequatur rerum omnis neque
                            quaerat voluptatem architecto corrupti voluptatibus ex deleniti sit delectus voluptates,
                            accusamus aspernatur illo necessitatibus explicabo quam temporibus quisquam recusandae amet
                            veniam quo corporis aut asperiores. Cumque eum magnam unde. Obcaecati, eos quis? Voluptates
                            quae nam temporibus atque error tempore quam molestias repudiandae at dolore commodi vero
                            maxime esse veniam quod quisquam ab praesentium optio, veritatis provident libero aperiam
                            ipsam? Molestias iusto rem velit voluptatibus quod voluptatum, debitis unde autem quasi
                            reprehenderit enim tempore, eligendi perspiciatis id et! Molestias error aut vel, voluptatum
                            deserunt eum culpa reiciendis itaque quod voluptas asperiores magni impedit maxime quas
                            dolorem similique consectetur dicta voluptates perferendis cum architecto consequatur
                            perspiciatis. Quod sint similique iste incidunt saepe nemo, commodi repudiandae consequuntur
                            expedita in eius veritatis at laborum aspernatur quos. Tempora dolor neque libero et,
                            reprehenderit dolore eius, commodi ipsam debitis amet nesciunt dolores. Quasi id corporis ab
                            fugit iste, fuga consequatur officia tenetur assumenda voluptatibus eveniet at, dolore
                            perspiciatis cupiditate in officiis nemo quam veritatis, omnis expedita? Velit at corrupti,
                            unde autem consequuntur consequatur repellendus? Recusandae hic quis expedita, labore
                            pariatur odio cumque et provident repellendus quae natus ad facere animi eveniet quisquam
                            inventore velit blanditiis temporibus aliquam laboriosam! Eaque delectus nobis quam
                            consequatur? Corrupti beatae aliquid harum ipsam possimus voluptatum impedit dolore eos
                            velit aut cum molestias, quia praesentium placeat ut illo provident cupiditate maxime
                            ratione laboriosam nulla, dolor quae. Minima enim odit ratione repellendus, dolorem itaque
                            distinctio at natus eveniet dolor vero incidunt, asperiores et fugiat fugit veniam unde iste
                            nostrum sint, eius dicta quis nihil? Architecto quis iusto, fuga vel molestias corrupti
                            deleniti, nesciunt sunt unde nobis repellendus quibusdam laboriosam deserunt aliquid
                            suscipit, exercitationem quasi veritatis laborum facere numquam. Tempora, quos et! Non
                            quidem sunt, deleniti voluptates, officiis temporibus incidunt vero inventore accusantium
                            laboriosam vitae ratione rerum error veniam provident illum, voluptatem dolore alias.
                        </p>
                    </div>
                    <div class="blog-4 blog" id="4">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nulla vel ipsam cupiditate
                            laudantium nam? Dolore explicabo aut delectus neque eaque perferendis maiores fuga molestias
                            iste commodi. Accusantium porro in excepturi exercitationem eligendi quas laboriosam eaque
                            sint, ipsa totam ad repudiandae laudantium molestias dolorem earum corporis reiciendis quis,
                            repellendus veritatis tempora voluptates provident ab hic mollitia? Odit accusantium
                            quibusdam vero quidem reiciendis natus voluptate minus nemo. Voluptatem totam unde sunt
                            consequuntur. At quod dolores nisi, corporis a, impedit atque architecto odit tempora, et
                            eum? Molestiae aspernatur itaque soluta excepturi sunt autem quaerat? Id, provident aliquam.
                            Cumque, earum ipsa repellat autem corrupti dicta distinctio voluptate culpa non unde iure
                            facere. Quis, dolores cum. Expedita nisi quaerat odit laudantium amet minima dolor
                            voluptatem aut praesentium unde, dolores iure consequuntur inventore sed magni fugit
                            voluptatum porro sit quisquam qui consequatur! Pariatur alias modi saepe rerum adipisci
                            nobis libero assumenda ex voluptatum ipsam enim, magni qui fugit explicabo, quas consectetur
                            delectus illum nam tenetur aut unde, voluptate reprehenderit provident. Accusantium quis
                            quas est. Harum delectus incidunt tenetur, nihil quaerat, aliquid saepe autem vero totam
                            perspiciatis repellendus architecto modi quasi excepturi facilis nemo beatae amet mollitia!
                            Illo quam tempore dolore possimus non! Fugit, odit maxime.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="content">
                <div class="top">
                    <div class="left">
                        <div class="communication">
                            <a href="https://github.com/hqko01" style="text-decoration: none;">
                                <div>
                                    <div class="logo">
                                        <img src="~/img/git-logo.png" alt="">
                                    </div>
                                    <div class="text">Hqko01</div>
                                </div>
                            </a>
                            <a href="https://www.linkedin.com/in/hakan-y%C4%B1lmaz-766637252/"
                                style="text-decoration: none;">
                                <div>
                                    <div class="logo">
                                        <img src="~/img/linkedin-logo.png" alt="">
                                    </div>
                                    <div class="text">Hakan Yılmaz</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="cnt">
                            <h3>Bize Geri Bildirim Gönderin</h3>
                            <a href="mailto:hqkko0@gmail.com"><button>Gönder</button></a>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <a href="https://liriandev.com" style="text-decoration: none;">
                        <div class="cnt">
                            <h3>LIRIANDEV</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
